@function colorize($color, $change: n) {
  @if $change == n {
    @return $color;
  }
  @if $change == l1 {
    @return tint($color, 10%);
  }
  @if $change == l2 {
    @return tint($color, 25%);
  }
  @if $change == l3 {
    @return tint($color, 50%);
  }
  @if $change == l4 {
    @return tint($color, 75%);
  }
  @if $change == d1 {
    @return shade($color, 10%);
  }
  @if $change == d2 {
    @return shade($color, 25%);
  }
  @if $change == d3 {
    @return shade($color, 50%);
  }
  @if $change == d4 {
    @return shade($color, 75%);
  }
}

@function transparent($color, $percentage) {
  @if $percentage == .1 {
    @return lighten($color, 45%);
  }
  @if $percentage == .2 {
    @return lighten($color, 40%);
  }
  @if $percentage == .3 {
    @return lighten($color, 35%);
  }
  @if $percentage == .4 {
    @return lighten($color, 30%);
  }
  @if $percentage == .5 {
    @return lighten($color, 25%);
  }
  @if $percentage == .6 {
    @return lighten($color, 20%);
  }
  @if $percentage == .7 {
    @return lighten($color, 15%);
  }
  @if $percentage == .8 {
    @return lighten($color, 10%);
  }
  @if $percentage == .9 {
    @return lighten($color, 5%);
  }
}

@mixin trans($type, $color, $percentage) {
  @if $type == color {
    color: transparent($color, $percentage);
    color: rgba($color, $percentage);
  }
  @if $type == bg {
    background-color: transparent($color, $percentage);
    background-color: rgba($color, $percentage);
  }
}